<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="2019 Novel Coronavirus | API">
    <meta name="author" content="Nuttaphat Arunoprayoch">
    <title>COVID-19 | API</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- ChartJS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" crossorigin="anonymous">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        canvas {
            background-color: grey;
        }
    </style>
    <link href="{{ url_for('static', path='/cover.css') }}" rel="stylesheet">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="https://github.com/nat236919/NovelCoronaAPI">Home</a>
                <a class="nav-link" href="http://nuttaphat.azurewebsites.net/">Author</a>
            </nav>
        </div>
        </header>
        <div class="chart-container" style="position: relative;">
                <canvas id="myChart"></canvas>
        </div>
        <br>
        <main role="main" class="inner cover">
            <h1 class="cover-heading">COVID-19 | API</h1>
            <p class="lead">This API provides the information regarding 'COVID-19'. It contains a
                number of confirmed, death, and recovered cases based on the data provided by the Johns Hopkins
                University Center for Systems Science and Engineering (JHU CCSE).</p>
            <p class="lead">
                <a href="{{ url_for('read_docs')}}" class="btn btn-lg btn-info">API docs</a>
                <a href="https://github.com/nat236919/NovelCoronaAPI" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
        </main>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p> Created with Love and Caution by Nuttaphat Arunoprayoch </p>
            </div>
        </footer>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Confirmed', 'Deaths', 'Recovered'],
        datasets: [{
            label: 'Population',
            data: [{{data["confirmed"]}}, {{data["deaths"]}}, {{data["recovered"]}}],
            backgroundColor: [
                'rgba(255, 189, 51, 0.5)',
                'rgba(255, 87, 51, 0.5)',
                'rgba(51, 255, 87, 0.5)'],
            borderColor: [
                'rgba(255, 189, 51, 1)',
                'rgba(255, 87, 51, 1)',
                'rgba(51, 255, 87, 1)'],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    fontColor: 'white'
                }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero: true,
                    fontColor: 'white'
                }
            }]
        },
        legend: {
            labels: {
                fontColor: 'white'
            }
        }
    }
});
</script>
</html>